@media (max-width: 1279px) {
    #vertical-menu-btn {
        display: none;
    }
    .navbar-brand-box {
        display: block;
        padding: 0 5px;
    }
    .logo span.logo-lg {
        display: block;
    }
    .logo span.logo-lg .site-logo {
        max-width: 145px;
        height: auto;
        max-height: 48px;
    }
    .bal-box {
        height: 39px;
        background: #f5f5f5;
        color: #333 !important;
        border: 2px solid #ddd;
        line-height: 36px;
        text-align: center;
        margin-bottom: 7px;
    }
    .casino-banner-item {
        width: calc(49.4% - 8.4px);
    }
    .d-banner img {
        height: auto;
    }
    .home-new .casino-banners-list .casino-banner-item {
        width: calc(49.5% - 8.75px);
    }
    .home-new .casino-banners-list.live-casinos .casino-banner-item {
        width: calc(50% - 10px);
    }
    .home-new .casino-banners-list.fantasy-games .casino-banner-item {
        width: calc(50% - 10px);
    }
    .home-new footer.footer {
        text-align: center;
    }
    .home-new-logo img {
        width: auto;
        max-width: 145px;
        max-height: 45px;
    }
    .home-new-header .header-right {
        height: auto;
        top: 0;
    }
    .home-new-header {
        padding-top: 5px;
        padding-bottom: 5px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-body {
        padding: .5rem;
    }
    .page-content {
        padding: 0;
        margin-top: 100px;
    }
    .vertical-menu {
        top: 60px;
    }
    .logo {
        line-height: 60px;
    }
    .header-item {
        height: 60px;
        display: none;
    }
    .navbar-header {
        height: 60px;
    }
    .rules-icon {
        height: 60px;
        line-height: 60px;
    }
    .navbar-header .upcoming-fixure {
        position: absolute;
        top: 60px;
        left: 0;
        margin-left: 0;
        border-radius: 0;
    }
    .navbar-header .fixure-title {
        border-radius: 0;
    }
    .page-title-box {
        padding: 10px 5px 12px;
        font-size: 10px;
    }
    .page-title-box h4 {
        font-size: 14px !important;
    }
    .account-list .search-form .form-control {
        max-width: 170px !important;
    }
    .table th, .table td {
        white-space: nowrap;
    }
    .create-account-container .fixed-col-1 {
        position: relative;
        left: 0;
        width: auto;
    }
    .create-account-container .fixed-col-2 {
        position: relative;
        left: 0;
        width: auto;
    }
    .create-account-container .fixed-col-3 {
        position: relative;
        left: 0;
        width: auto;
    }
    .create-account-container .inner {
        margin-left: 0;
    }
    .bank-panel .form-control {
        width: 150px;
    }
    .nav-link {
        padding: .5rem;
    }
    .center-content {
        width: 100%;
        margin: 0;
    }
    .casino-video .video-box-container {
        max-width: 100%;
        width: 100%;
    }
    .cards32a .teen1dayleft, .cards32a .teen1dayright {
        width: 100%;
    }
    .cards32a .teen1daycenter {
        display: none;
    }
    .casino-video-cards {
        top: 80px;
        transform: unset;
    }
    .home-new-header .header-right .btn {
        padding: 10px 30px;
    }
}

@media (max-width: 767px) {
    .casino-banner-item {
        width: calc(49.4% - 8.4px);
    }
    .casino-video .casino-video-last-results {
        display: none;
    }
    .casino-video .casino-video-lr-icon {
        display: none;
    }
    .casino-video-cards {
        top: 60px;
        transform: unset;
    }
}

@media (max-width: 380px) {
    .navbar-brand-box {
        display: block;
        padding: 0 5px;
    }
    .logo span.logo-lg {
        display: block;
    }
    .logo span.logo-lg .site-logo {
        max-width: 110px;
        height: auto;
    }
    .account-list .search-form .form-control {
        max-width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 571px) {
    .sport-tabs .nav-tabs .nav-item {
        min-width: 33.33%;
    }
    #vertical-menu-btn {
        display: block;
    }
    .header-item {
        height: 60px;
        display: block;
    }
}

@media only screen and (min-width: 572px) and (max-width: 767px) {
    .sport-tabs .nav-tabs .nav-item {
        min-width: 25%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
    .suspendedtext::after {
        width: calc(100% - 16px);
        right: 8px;
    }
    .clear-all-slip {
        display: inline-block;
        color: var(--text-sidebar);
        padding-right: 16px;
        float: right;
        cursor: pointer;
    }
    .bet-slip-container .nav-tabs {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1279px) {
    body {
        font-size: var(--font-small);
    }
    .d-none-mobile {
        display: none !important;
    }
    .modal-big, .modal-xl, .modal-md, .modal-lg, .modal-sm {
        max-width: 99%;
    }
    .main-container {
        width: 100%;
    }
    .sidebar-left~.main-container {
        width: 100%;
        margin-left: 0;
    }
    .center-main-content {
        padding-top: 0;
        min-height: unset;
        margin-top: 54px;
    }
    .header {
        padding: 2px 5px;
        height: auto;
        border-bottom: 0;
        line-height: unset;
        width: 100%;
        display: block;
    }
    .news-bar {
        padding: 0;
        margin-bottom: 5px;
        max-width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
        height: 26px;
    }
    .news-bar .news-title::after {
        width: 26px;
        height: 26px;
        border-top: 13px solid transparent;
        border-left: 13px solid var(--bg-success);
        border-bottom: 13px solid transparent;
        right: -26px;
    }
    .banner {
        height: 120px;
        border-radius: 0;
        width: 100%;
    }
    .banner img {
        height: 120px;
    }
    .detail-page-container .banner, .detail-page-container .banner img {
        height: 120px;
    }
    .sidebar-left {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 1100;
        padding: 0;
        min-height: unset;
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 54px;
    }
    .language-block {
        display: none !important;
    }
    .right-sidebar {
        width: 100%;
        overflow: unset;
        max-height: unset;
        margin-left: 3px;
        margin-right: 3px;
        min-width: calc(100% - 6px);
    }
    .modal-body {
        padding: 8px 6px;
    }
    .modal-sm {
        max-width: 388px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .login-text {
        line-height: 33px;
        font-size: var(--font-24);
        font-weight: var(--font-semi);
    }
    .menu-button-mobile {
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        width: 30px;
        margin-top: 8px;
        margin-left: 10px;
    }
    .menu-button-mobile .fa-arrow-left {
        font-size: 18px;
        vertical-align: middle;
    }
    .logo-box {
        float: unset;
        width: auto;
        display: inline-block;
        padding: 0 0 0 0;
        height: auto;
        border-bottom: 0;
        margin-top: 4px;
    }
    .header-right {
        padding-right: 5px;
        padding-top: 0;
        text-align: right;
    }
    .login-menu {
        margin-left: 0;
        padding: 0;
    }
    .header .btn-primary {
        margin-left: 16px;
        height: 32px;
        width: 80px;
        padding: 0;
    }
    .menu-button-bar {
        height: 2px;
        width: 24px;
        border-radius: 1px;
        background-color: #AAAFB5;
        display: block;
        margin-bottom: 5px;
    }
    .center-container {
        margin: 0;
        width: 100%;
    }
    .footer {
        margin-top: 0;
        padding: 8px;
        display: none;
    }
    .footer-social img {
        margin-left: 5px;
        height: 25px;
    }
    .footer-top .support {
        max-width: 35%;
        font-size: var(--font-small);
    }
    .footer-bottom {
        font-size: var(--font-small);
    }
    .footer-top .support div {
        font-size: var(--font-body);
    }
    .logo {
        padding: 0;
    }
    .logo img {
        max-height: 28px;
    }
    .footer ul li {
        padding: 0 12px;
    }
    .menu-box li a {
        padding: 6px 12px;
        font-size: var(--font-small);
    }
    .language-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
    }
    .language-box .flag-name {
        margin-left: 8px;
    }
    .language-box .flag {
        margin-bottom: 24px;
    }
    .close-language {
        color: var(--text-sidebar);
        margin-bottom: 20px;
    }
    .balance {
        display: inline-block;
        text-align: right;
        padding-left: 0;
    }
    .username-info {
        padding-left: 0;
        text-align: right;
        display: block;
        margin-top: 3px;
    }
    .user-icon {
        height: 16px;
        width: 16px;
        padding: 4px 5px;
    }
    .user-icon img {
        width: 6px;
        height: 7px;
    }
    .username {
        margin-right: 4px;
        margin-left: 4px;
    }
    .sport-tabs {
        height: 44px;
        border-radius: 0;
    }
    .sport-tabs .nav-tabs {
        padding: 0;
        display: flex;
        height: 44px;
    }
    .arrow-tabs {
        top: 10px;
    }
    .sport-tabs .nav-tabs .nav-item {
        flex: 0 0 auto;
    }
    .sport-tabs .nav-tabs .nav-link {
        padding: 0 13px;
        height: 44px;
        line-height: unset;
        white-space: nowrap;
        width: 100%;
        min-width: unset;
        display: flex;
        flex-wrap: wrap;
    }
    .sport-tabs .nav-tabs .nav-link span {
        display: block;
        margin-left: 0;
        line-height: 16px;
        width: 100%;
    }
    .sport-tabs .nav-tabs .nav-link img {
        height: 16px;
    }
    .bet-table-header {
        border-radius: 0;
        height: 33px;
        padding: 0 10px;
        line-height: 33px;
    }
    .bet-table-header .btn-back {
        padding: 2px 3px;
    }
    .game-title {
        width: 100%;
        position: relative;
    }
    .bet-table-row-header-mobile .game-title {
        align-items: center;
    }
    .bet-table-row-header-mobile .team-name {
        max-height: 16px;
        line-height: 16px;
        font-size: var(--font-13);
    }
    .game-icons {
        justify-content: flex-end;
    }
    .game-icon {
        text-align: center;
    }
    .bet-table-header .game-title .d-icon, .bet-table-header .game-title span {
        font-size: var(--font-caption);
    }
    .game-title img {
        height: 16px;
        width: 16px;
        margin-right: 8px;
    }
    .bet-table-body {
        padding: 5px;
    }
    .bet-table-box {
        background-color: var(--bg-table-header);
        padding: 4px;
        margin: 4px 0;
    }
    .bet-table-row {
        padding: 0;
    }
    .bm-row {
        justify-content: center;
        display: flex;
    }
    .point-title {
        width: 32%;
        margin-left: 0;
        margin-right: 2%;
    }
    .point-title.suspended:after {
        top: unset;
        bottom: 0;
        height: calc(100% - 22px);
        border-radius: 3px;
    }
    .point-title:last-child {
        margin-right: 0;
    }
    .bl-box {
        width: 48%;
        margin-top: 0;
        margin-right: 4%;
    }
    .point-title-header {
        color: var(--text-table);
    }
    .bl-box span {
        font-size: var(--font-small);
    }
    .bl-box .odds {
        font-size: var(--font-small);
        font-weight: var(--font-bold);
    }
    .bet-table-row-header-mobile {
        display: flex;
        align-items: center;
        background-color: var(--bg-table);
        padding: 4px;
    }
    .home-container .bl-box.no-val {
        background-color: var(--bg-table);
    }
    .bet-table-row-header-mobile .matched-title {
        height: 42px;
        color: #AAAFB5;
        line-height: 21px;
    }
    .bet-table-row-header-mobile .game-name {
        vertical-align: top;
        width: calc(100% - 70px);
        padding-left: 10px;
    }
    .bet-table-row-header-mobile .game-date.inplay~.game-name {
        padding-left: 10px;
        width: calc(100% - 70px);
    }
    .bet-table-row-header-mobile .game-date {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70px;
        height: 34px;
        line-height: 17px;
        border-right: 1px solid var(--bg-table-header);
        padding-right: 0;
    }
    .game-date.inplay {
        border-right: 1px solid var(--bg-table-header) !important;
    }
    .game-date.inplay span {
        width: auto;
    }
    .game-title .day {
        margin-bottom: 0;
        height: auto;
        min-width: unset;
        line-height: 14px;
    }
    .odds-format-block {
        padding-left: 40px;
    }
    .format-name {
        padding-left: 0;
    }
    .tabs-mobile {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1101;
    }
    .tabs-mobile ul {
        display: flex;
        width: 100%;
    }
    .tabs-mobile ul li {
        flex: auto;
        height: 54px;
        background-color: var(--bg-table);
        text-align: center;
        border-right: 1px solid var(--bg-table-header);
        padding: 0;
    }
    .tabs-mobile ul li a.router-link-active {
        background-color: var(--bg-success);
        color: var(--text-white);
    }
    .tabs-mobile ul li a {
        color: var(--text-sidebar);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8px;
        font-size: var(--font-caption);
    }
    .bet-slip-box .bet-time {
        display: inline-block;
        vertical-align: top;
    }
    .odds-format-box {
        width: 100px;
        z-index: 100;
        right: 0;
        left: unset;
    }
    .odds-format-box a {
        width: 100px;
    }
    .close-mobile-menu {
        width: 8%;
        text-align: right;
        font-size: 20px;
        cursor: pointer;
    }
    .sidebar-left .search-box .form-group {
        width: 90%;
    }
    .detail-page-container .bet-table-header {
        height: 33px;
        line-height: 1;
        padding: 0 10px;
        border-radius: 4px 4px 0 0;
    }
    .bet-table-mobile-team-name {
        line-height: 17px;
        color: var(--text-black);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .detail-page-container .market-2 .bet-table-body .nation-name {
        width: 100%;
    }
    .detail-page-container .bl-title {
        background-color: transparent;
        height: 20px;
        line-height: 20px;
        color: var(--text-table);
        width: 15%;
        margin-right: 2%;
    }
    .detail-page-container .bl-title:last-child {
        margin-right: 0;
    }
    .bet-table-row {
        border-bottom: 0;
    }
    .home-container .bet-table-row.suspendedtext::after {
        top: unset;
        height: calc(100% - 22px);
        width: 100%;
        bottom: 0;
        right: 0;
    }
    .detail-page-container .bl-box {
        margin-top: 0;
        width: 15%;
        margin-right: 2%;
    }
    .detail-page-container .bm-market .bl-box, .detail-page-container .bm-market .bl-title, .detail-page-container .bm-market-2 .bl-box, .detail-page-container .bm-market-2 .bl-title {
        width: 49%;
    }
    .detail-page-container .fancy-market .bl-box {
        width: 35%;
    }
    .fancy-min-max {
        width: 26%;
    }
    .bm-market .suspendedtext::after, .bm-market-2 .suspendedtext::after {
        width: calc(100% - 16px);
        right: 8px;
    }
    .fancy-market .suspendedtext::after {
        width: 100%;
        right: 0;
    }
    .detail-tabs .nav-tabs .nav-link {
        padding-left: 8px;
        padding-right: 8px;
    }
    .casino-right-sidebar.right-sidebar {
        display: none;
    }
    .main-container.casino-container .logo-box {
        float: unset;
        width: auto;
    }
    .main-container.casino-container .center-main-content {
        padding: 0;
    }
    .casino-center {
        width: 100%;
        margin: 0;
    }
    .casino-tabs-mobile {
        display: flex;
        height: 48px;
        justify-content: space-between;
        background-color: var(--bg-table);
        border-bottom: 1px solid var(--bg-table-header);
        flex-wrap: wrap;
    }
    .casino-tabs-mobile ul {
        height: 48px;
        line-height: 48px;
    }
    .casino-tabs-mobile ul li {
        float: left;
        width: 80px;
        text-align: center;
        border-right: 1px solid var(--bg-table-header);
    }
    .casino-tabs-mobile ul li a {
        color: var(--text-sidebar);
    }
    .casino-tabs-mobile ul li.active {
        background-color: var(--bg-success);
    }
    .casino-tabs-mobile ul li.active a {
        color: var(--text-white);
    }
    .rules-round {
        padding-right: 5px;
    }
    .casino-title {
        padding: 6px 4px;
    }
    .casino-timer {
        right: 5px;
        bottom: 5px;
    }
    .timer {
        width: 19px;
        height: 24px;
        line-height: 24px;
        font-size: var(--font-body);
    }
    .last-result-container {
        padding: 10px;
    }
    .last-result-form .form-group {
        width: 48%;
        margin-right: 1%;
    }
    .last-result-form .form-group input.form-control, .last-result-form .form-group select.form-control {
        width: 100%;
        height: 48px;
    }
    .last-result-form .btn {
        width: 100%;
        height: 48px;
    }
    .last-result-table {
        margin-top: 16px;
        font-size: var(--font-v-small);
    }
    .main-container.casino-container .footer {
        padding-left: 16px;
    }
    .casino-place-bet-box {
        padding: 0 6px;
        color: var(--text-table);
    }
    .bet-slip {
        width: 100%;
    }
    .casino-place-bet-title {
        padding: 16px 10px;
    }
    .casino-place-bet-info {
        display: block;
    }
    .bet-player {
        margin-bottom: 16px;
        color: var(--text-white);
    }
    .odds-box-mobile {
        width: 100%;
        display: flex;
    }
    .m-p-box {
        float: left;
        height: 48px;
        width: 32px;
        line-height: 48px;
        text-align: center;
        background-color: var(--bg-table-header);
    }
    .minus-box {
        border-radius: 4px 0 0 4px;
    }
    .plus-box {
        border-radius: 0 4px 4px 0;
    }
    .odds-box-mobile input {
        float: left;
        height: 48px;
        width: 64px;
        border: 1px solid var(--bg-table-header);
    }
    .stake-odds {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }
    .stake-odds input {
        height: 48px;
        border-radius: 4px;
        border: 1px solid var(--bg-table-header);
        background-color: transparent;
    }
    .stake-odds .profit-val {
        height: 48px;
        line-height: 48px;
    }
    .casino-place-bet-button-container .btn {
        width: 23.5%;
        margin-right: 2%;
        color: var(--text-highlight);
    }
    .casino-place-bet {
        width: 100%;
    }
    .casino-place-bet-action-buttons .btn {
        width: 100%;
    }
    .main-container.report-container {
        display: block;
    }
    .report-box {
        width: 100%;
        padding: 25px 0;
    }
    .report-title {
        padding: 0 32px;
    }
    .report-name {
        font-size: var(--font-24);
        height: 33px;
        line-height: 33px;
    }
    .report-form {
        display: block;
        padding: 16px 32px;
        border-bottom: 1px solid var(--bg-table-header);
    }
    .report-form .form-group {
        display: block;
        margin-right: 0;
        margin-bottom: 8px;
    }
    .report-form select {
        width: 100%;
        font-size: var(--font-small);
    }
    .report-form .from-date, .report-form .to-date {
        width: 48%;
        float: left;
    }
    .report-form .from-date {
        margin-right: 2%;
    }
    .report-form .to-date {
        margin-right: 0;
    }
    .report-form input {
        width: 100%;
        font-size: var(--font-small);
        height: 32px;
    }
    .report-table {
        margin-top: 0;
    }
    .report-row {
        padding: 16px 32px;
        border-bottom: 1px solid var(--bg-table-header);
    }
    .report-row.back-border {
        border-left: 5px solid var(--back);
    }
    .report-row.lay-border {
        border-left: 5px solid var(--lay);
    }
    .report-row>div {
        margin-bottom: 2px;
    }
    .bet-heading {
        display: inline-block;
        min-width: 125px;
        color: var(--text-highlight);
    }
    .footer-error {
        width: 100%;
    }
    .detail-page-container .market-1 .market-1-item .bl-box {
        width: 52px;
    }
    .detail-page-container .market-2 .bl-title, .detail-page-container .market-2 .bl-box, .detail-page-container .market-5 .bl-title, .detail-page-container .market-5 .bl-box, .detail-page-container .market-11 .bl-title, .detail-page-container .market-11 .bl-box {
        width: 49%;
    }
    .detail-page-container .market-3 .bl-box, .detail-page-container .market-3 .bl-box {
        width: 23.5%;
    }
    .detail-page-container .market-6 .bl-box {
        width: 35%;
    }
    .market-2 .suspendedtext::after, .market-3 .suspendedtext::after, .market-4 .suspendedtext::after, .market-5 .suspendedtext::after, .market-6 .suspendedtext::after, .market-9 .suspendedtext::after, .market-11 .suspendedtext::after {
        width: calc(100% - 16px);
    }
    .market-2 .suspendedfull::after, .market-3 .suspendedfull::after, .market-4 .suspendedfull::after, .market-5 .suspendedfull::after, .market-6 .suspendedfull::after, .market-11 .suspendedfull::after {
        width: 100%;
        right: 0;
        height: 100%;
        top: 0;
    }
    .market-6 .suspendedtext::after, .market-6 .suspendedfull::after {
        right: calc(28% + 3px);
        width: calc(72% - 11px);
    }
    .market-1 .suspendedfull::after {
        width: 100%;
        right: 0;
    }
    .detail-page-container .market-9 .bl-box {
        width: 100%;
    }
    .detail-page-container .market-10 .bl-box {
        width: 72%;
    }
    .market-10 .suspendedtext::after {
        width: calc(72% - 11px);
        right: calc(28% + 3px);
    }
    .market-show-icon {
        position: fixed;
        bottom: 5px;
        right: 5px;
        z-index: 1000;
        background-color: #434343;
        color: var(--text-white);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-align: center;
        line-height: 1;
    }
    .market-show-icon .bet-cnt {
        width: 100%;
        font-size: 26px;
        font-weight: 600;
    }
    .market-show-icon .bet-title {
        font-size: 10px;
    }
    .detail-page-container {
        padding-bottom: 65px;
    }
    .center-container.casino-list-container {
        padding-left: 0;
        padding-right: 0;
    }
    .casino-carousal {
        width: 100%;
    }
    .casino-carousal img {
        height: 120px;
    }
    .casino-small-icons {
        width: 100%;
        margin-left: 0;
        max-height: 260px;
        margin-top: 16px;
    }
    .casino-primary-tabs {
        height: 50px;
    }
    .casino-primary-tabs .nav-tabs .nav-item {
        width: auto;
    }
    .casino-primary-tabs .nav-tabs .nav-item .nav-link {
        padding: 0 5px;
    }
    .casino-primary-tabs .nav-tabs .nav-item .nav-link {
        height: 50px;
    }
    .casino-banners {
        padding: 8px 10px;
    }
    .casino-banner-item {
        width: 49%;
        margin-right: 2%;
    }
    .slot-banner-full {
        width: 100%;
        margin-right: 0;
    }
    .casino-banner-item:nth-child(6n) {
        margin-right: 2%;
    }
    .casino-banner-item:nth-child(2n) {
        margin-right: 0;
    }
    .casino-detail {
        padding: 5px;
        box-shadow: none;
        border-radius: 0;
    }
    .casino-table {
        box-shadow: none;
        border-radius: 0;
    }
    .casino-video .video-box>img, .casino-video .video-box>iframe {
        border-radius: 0;
    }
    .casino-min-max {
        font-size: 9px;
    }
    .report-container {
        margin: 0;
        padding: 0;
    }
    .casino-col-container {
        width: 100%;
        margin-right: 0;
    }
    .poker1day .casino-col-container:last-child .casino-nation-name {
        width: calc(100% - 204px)
    }
    .poker1day .casino-col-container:last-child .casino-bl-box {
        width: 204px;
    }
    .poker1day .casino-col-container:first-child, .poker1day .casino-col-container:last-child {
        width: 100%;
    }
    .poker1day .casino-col-container:last-child .casino-bl-box-item {
        width: 100px;
        height: 48px;
    }
    .poker1day .casino-col-container:last-child .casino-bl-box-item .casino-box-odd {
        height: 30px;
    }
    .poker1day .casino-col-container:last-child .suspended::after {
        width: 204px;
    }
    .cards32B .cards32Btotal .casino-bl-box-item {
        height: 40px;
    }
    .banner-iframe {
        width: 100%;
        left: 0;
    }
    .banner-iframe.banner-frame-show {
        top: 0;
        height: 100vh;
        z-index: 10000;
    }
    .banner-iframe.slot-iframe.banner-frame-show {
        top: 0;
        height: 100vh;
        z-index: 10000;
    }
    .game-header .game-header-name {
        max-width: calc(100% - 65px);
    }
    .search-list {
        position: unset;
        width: 100%;
        margin-top: 45px;
    }
    .casino-search.open-search {
        border-radius: 8px;
    }
    .header-casino~.center-main-content {
        margin-top: 56px;
        min-height: calc(100% - 82px);
        align-content: flex-start;
    }
    .dropdown-menu {
        font-size: var(--font-small);
    }
    .modal {
        top: 50px;
    }
    .modal-content {
        max-height: calc(100vh - 54px);
    }
    .modal-header {
        padding: 8px;
    }
    .modal-title {
        font-size: var(--font-caption);
    }
    .modal-body {
        max-height: calc(100vh - 40px);
    }
    .game-header-date {
        padding-right: 25px;
    }
    .video-tv {
        height: 205px;
    }
    .sidebar-left .search-box {
        padding: 6px 16px 6px 16px;
        position: fixed;
        width: 100%;
        background-color: var(--bg-sidebar);
        z-index: 1101;
    }
    .search-box .form-control {
        height: 36px;
        font-size: var(--font-small);
    }
    .search-box .search-icon {
        top: 10px;
        right: 10px;
    }
    .menu-box {
        height: auto;
        overflow: unset;
    }
    .search-list+.menu-box {
        margin-top: 5px;
    }
    .header .menu-box ul {
        float: unset;
    }
    .header .menu-box ul li {
        padding: 0;
    }
    .header .menu-box ul ul {
        display: none;
    }
    .header .menu-box .navbar-nav .dropdown-menu.show {
        display: block;
    }
    .header .menu-box ul li a {
        height: auto;
    }
    .sidebar-left footer {
        display: flex;
        background-color: var(--bg-body);
    }
    .sidebar-left .footer-menu {
        padding: 0;
    }
    .sidebar-left .footer-menu ul {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .sidebar-left .footer-menu ul li {
        width: auto;
        margin: 0 3px;
    }
    .sidebar-left .footer-menu ul li a {
        font-size: 8px;
        color: var(--text-green);
    }
    .home-container .bet-table {
        min-height: unset;
    }
    .home-container .bet-table.loader-section-parent {
        min-height: 200px;
    }
    label {
        margin-bottom: 4px;
        line-height: 16px;
    }
    .report-page-count select {
        height: 32px;
        font-size: var(--font-small);
    }
    .button-value .form-control {
        font-size: var(--font-small);
    }
    .card-clear-box {
        display: flex;
        justify-content: space-between;
        padding: 5px 14px;
        background: var(--bg-table-header);
        align-items: center;
        flex-wrap: wrap;
        color: var(--text-white);
        font-weight: bold;
        font-size: var(--font-body);
        margin-top: 10px;
        border-radius: 8px;
    }
    .change-theme.switch {
        position: relative;
        left: 10px;
        top: unset;
        height: 22px;
    }
    .change-theme .slider::before {
        height: 20px;
        width: 20px;
        left: 1px;
        bottom: 1px;
    }
    .andar-cards-box, .bahar-cards-box {
        width: 100%;
        margin-bottom: 10px;
    }
    .five-cricket .casino-video {
        width: 100%;
        margin-top: 10px;
        border-radius: 0;
    }
    .cards32b .casino-nation-name {
        font-size: 11px;
        display: flex;
        justify-content: space-between;
    }
    .cards32b .casino-nation-name>div:first-child {
        line-height: normal;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .d-none-small {
        display: none !important;
    }
    .report-box {
        padding: 0;
    }
    .report-name {
        margin-bottom: 8px;
        font-size: var(--font-18);
    }
    .report-row {
        padding: 4px 8px;
    }
    .report-form {
        padding: 8px;
    }
    .report-title {
        display: block;
        padding: 8px 8px 0;
    }
    .report-title input {
        width: 100%;
    }
    .report-page-count {
        margin-top: 8px;
        padding: 0 6px;
        flex-wrap: wrap;
        position: relative;
    }
    .report-page-count .form-group {
        margin-bottom: 4px;
    }
    .report-page-count>div {
        margin-top: 4px;
    }
    .report-page-count .custom-control-inline h6 {
        font-size: var(--font-small);
    }
    .report-page-count .file-icons {
        position: absolute;
        right: 0;
        top: 0;
    }
    .loading-box {
        width: 280px;
    }
    .game-header {
        padding: 6px;
    }
    .detail-page-container .market-2, .detail-page-container .market-3, .detail-page-container .market-4, .detail-page-container .market-5, .detail-page-container .market-6, .detail-page-container .market-9, .detail-page-container .market-10, .detail-page-container .market-11 {
        min-width: calc(100% - 6px);
    }
    .login-footer .footer-box {
        width: 100%;
    }
    .casino-small-icon {
        width: 32%;
        margin-right: 1% !important;
    }
    .casino-small-icon img {
        height: 56px;
    }
    .casino-small-icon:nth-child(3n) {
        margin-right: 0 !important;
    }
    .casino-video-cards span img {
        width: 22px;
        margin-right: 5px;
    }
    .teenpattitest .casino-video-cards span img {
        width: 25px;
    }
    .teenpattitest .casino-bl-box-title .casino-bl-box-item {
        font-size: 11px;
    }
    .teenpattitest .casino-video-cards-container .dealer-name {
        font-size: 10px;
        line-height: 12px;
        justify-content: flex-start;
    }
    .teenpattitest .casino-video-cards {
        height: 130px;
    }
    .teenpattitest .casino-video-cards {
        width: 110px;
        height: 170px;
    }
    .lucky7 .casino-video-cards {
        width: 45px;
        height: 45px;
    }
    .casino-video-cards .card-close {
        height: 30px;
        width: 19px;
    }
    .base-timer {
        height: 60px;
        width: 60px;
    }
    .base-timer__label {
        height: 60px;
        width: 60px;
        font-size: 30px;
    }
    .base-timer__label>span {
        min-width: 12px;
    }
    .casino-bl-box-item span {
        font-size: var(--font-small);
        width: auto;
    }
    .poker20 .casino-bl-box-item.casino-odds-name span {
        font-size: 8px;
    }
    .teenpattiopen .casino-box-header .casino-bl-box-item span {
        width: auto;
        display: inline-block;
    }
    .casino-bl-box-item .casino-box-odd {
        font-size: var(--font-caption);
    }
    .player-card {
        width: auto;
        margin-left: 2px;
    }
    .player-card span {
        width: auto;
    }
    .player-card img {
        width: 20px;
    }
    .poker6player .pattern .poker6box .casino-nation-name b {
        font-size: 11px;
    }
    .casino-col-container {
        width: 49%;
        margin-right: 1%;
    }
    .poker6player .pattern .casino-col-container {
        width: 32.66%;
        margin-right: 1%;
    }
    .poker6player .pattern .casino-col-container.fullbox {
        width: 32.66% !important;
    }
    .poker6player .pattern .casino-col-container:nth-child(2n) {
        margin-right: 1%;
    }
    .poker6player .pattern .casino-col-container:nth-child(3n) {
        margin-right: 0;
    }
    .poker-result-board img {
        height: 25px;
    }
    .casino-video-cards span {
        line-height: 16px;
    }
    .lucky7 .casino-detail .casino-box.low-high-box, .lucky7 .casino-detail .casino-box.sidebets-box, .lucky7 .casino-detail .casino-box.cards-box {
        width: 100%;
        margin-right: 0;
    }
    .lucky7 .casino-detail .casino-box .low-odds, .lucky7 .casino-detail .casino-box .high-odds {
        width: 40%;
    }
    .lucky7-card {
        width: 20%;
    }
    .lucky7 .casino-detail .cards-top {
        width: 100%;
    }
    .casino-card-item .card-image img {
        height: auto;
    }
    .lucky7 .casino-detail .casino-box .low-odds {
        border-radius: 0;
    }
    .lucky7 .casino-detail .casino-box .high-odds {
        border-radius: 0;
    }
    .low-odds.suspended::after {
        border-radius: 0;
    }
    .high-odds.suspended::after {
        border-radius: 0;
    }
    .logo-login img {
        width: 150px;
    }
    .new-laucnh-icon {
        top: -6px;
    }
    .new-laucnh-icon img {
        height: 45px;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 42px;
        height: 42px;
    }
    .footer {
        justify-content: space-between;
    }
    .footer-top {
        margin-top: 10px;
    }
    .footer-logo {
        width: 20%;
    }
    .footer-box {
        width: 100%;
    }
    .main-rules {
        margin-left: 0;
        position: unset;
    }
    .main-rules a {
        padding-right: 10px;
        margin: 0;
    }
    .total-soda {
        float: unset;
    }
    .banner .game-header {
        top: 10px;
        font-size: var(--font-v-small);
    }
    .scorecard {
        font-size: var(--font-v-small);
    }
    .scorecard-header {
        font-size: var(--font-v-small);
    }
    .ball-runs {
        height: 20px;
        line-height: 20px;
        width: 20px;
    }
    .broser-block-text {
        margin-left: 0;
        margin-top: 30px;
        line-height: 1;
    }
    .teenpatti20 .casino-nation-name {
        width: calc(100% - 78%);
    }
    .teenpatti20 .casino-bl-box-item {
        width: calc(50% - 3px);
    }
    .teenpatti20 .odds-min-max {
        width: calc(100% - 3px);
    }
    .casino-detail .casino-box-header .casino-bl-box-item {
        display: block;
        height: auto !important;
    }
    .teenpattiopen .casino-nation-name {
        width: calc(100% - 75%);
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
        padding: 0 4px;
    }
    .teenpattiopen .casino-nation-name>div {
        border-bottom: 1px solid var(--bg-tabs);
        padding-bottom: 5px;
    }
    .teenpattiopen .casino-nation-name b {
        line-height: 16px;
        display: block;
        width: 100%;
    }
    .teenpattiopen .casino-nation-name img {
        height: 25px;
    }
    .teenpattiopen .casino-bl-box {
        width: 75%;
    }
    .teenpattiopen .casino-bl-box-item {
        width: calc(33.33% - 4px);
    }
    .teenpattiopen .teenopenother .casino-bl-box-item {
        height: 70px;
    }
    .teenpattiopen .teenopenother .casino-bl-box-item .casino-box-odd {
        height: auto;
    }
    .teenpattiopen .odds-min-max {
        width: 32%;
    }
    .teenpattiopen .casino-min-max {
        white-space: normal;
        line-height: 1.2;
        word-break: break-all;
    }
    .statistics {
        width: 100%;
    }
    .baccarat .baccarat-bets-odds {
        width: 100%;
        margin-top: 6px;
    }
    .open-statistics {
        color: var(--bg-success);
        cursor: pointer;
    }
    .statistics-content {
        display: none;
    }
    .baccarat .statistics-title {
        margin-bottom: 0;
    }
    .baccarat .baccarat-odds {
        padding: 0 5px;
    }
    .baccarat .baccarat-odd-block .baccarat-odd-name {
        line-height: 14px;
    }
    .baccarat .baccarat-odd-block {
        margin-right: 4px;
    }
    .baccarat .baccarat-odd-block .baccarat-odd-val {}
    .baccarat .baccarat-bets {
        padding: 0 5px;
        margin-top: 10px;
        height: 110px;
    }
    .baccarat .baccarat-bets-name {
        height: 100%;
        font-size: var(--font-v-small);
        padding-left: 0;
    }
    .baccarat .player .baccarat-bets-name {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        padding-left: 5px;
    }
    .baccarat .banker .baccarat-bets-name {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        padding-right: 5px;
    }
    .baccarat .player-pair .baccarat-bets-name {
        border-radius: 4px 0 0 4px;
    }
    .baccarat .banker-pair .baccarat-bets-name {
        border-radius: 0 4px 4px 0
    }
    .baccarat .player-pair {
        margin-right: 2px;
        width: 15%;
        height: 60px;
    }
    .baccarat .player, .baccarat .banker {
        width: 35%;
        height: 90px;
    }
    .baccarat .tie {
        height: 86px;
        width: 86px;
    }
    .baccarat .banker-pair {
        margin-right: 2px;
        width: 15%;
        height: 60px;
    }
    .baccarat .baccarat-bets-name div {
        line-height: 14px !important;
        margin-bottom: 2px !important;
    }
    .baccarat .player img, .baccarat .banker img {
        width: 20px;
    }
    .baccarat .player span, .baccarat .banker span {
        margin-left: 3px;
    }
    .baccarat .baccarat-odd-block .baccarat-odd-name {
        font-size: 12px;
    }
    .l-rotate, .r-rotate {
        width: 38px;
    }
    .casino-result-cards-item .l-rotate, .casino-result-cards-item .r-rotate {
        width: 40px;
    }
    .baccarat .player-pair .baccarat-bets-val {}
    .baccarat .baccarat-min-max {
        padding-bottom: 6px;
        padding-right: 10px;
        font-size: 10px;
    }
    .casino-video-title {
        padding: 5px;
        left: 0;
        top: 0;
        min-width: unset;
    }
    .casino-video-title .casino-name {
        font-size: var(--font-small);
        line-height: 12px;
    }
    .casino-video-cards {
        top: 40px;
        transform: unset;
        width: 95px;
        padding: 5px 10px 5px 5px;
        height: 75px;
    }
    .poker1day .playerabox, .poker1day .playerbbox {
        width: 35%;
    }
    .poker1day .playerabcardbox {
        width: 30%;
        border-radius: 4px;
        flex-direction: column;
    }
    .poker1day .casino-detail {
        align-items: flex-start;
    }
    .poker1day .playerafabcy, .poker1day .playerbfabcy {
        padding: 2px;
        min-height: 105px;
    }
    .poker1day .playerafabcy+.casino-nation-name, .poker1day .playerbfabcy+.casino-nation-name {
        height: 16px;
        line-height: 1;
        padding: 0;
    }
    .poker1day .casino-nation-name {
        width: 100%;
        padding-right: 4px;
    }
    .poker1day .casino-bl-box-item {
        width: calc(50% - 3px);
    }
    .poker1day .playerabcardbox .poker-icon img {
        width: 80px;
    }
    .poker1day .playerabcardbox img {
        width: 25px;
    }
    .poker1day .dealer-name {
        font-size: var(--font-small);
    }
    .poker1day .playerabcardbox .col-12 {
        text-align: center !important;
    }
    .poker1day .casino-bl-box-item .casino-box-odd {
        font-size: 12px;
        height: auto;
    }
    .poker1day .poker1dayother .casino-bl-box-item {
        height: 60px;
    }
    .teenpattiopen .casino-video-cards {
        height: 70px;
    }
    .casino-video-rid {
        line-height: 16px;
        font-size: 10px;
    }
    .casino-cards-shuffle {
        font-size: 22px;
        right: 2px;
    }
    .casino-video-cards-container .dealer-name {
        font-size: var(--font-caption);
    }
    .casino-video-right-icons {
        flex-direction: column;
    }
    .casino-video-lr-icon {
        display: none;
    }
    .casino-video .casino-video-last-results {
        display: none;
    }
    .casino-video-lr-icon, .casino-video-home-icon, .casino-video-rules-icon {
        height: 25px;
        width: 25px;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .casino-video-lr-icon i, .casino-video-home-icon i, .casino-video-rules-icon i {
        font-size: var(--font-body);
    }
    .casino-video-right-icons {
        right: 3px;
    }
    .teenpatti20 .casino-bl-box-item {
        width: calc(33.33% - 3px);
    }
    .casino-bl-box-title .casino-bl-box-item {
        width: calc(33.33% - 3px);
        height: 18px !important;
        text-transform: uppercase;
        font-size: var(--font-small);
    }
    .teenpatti20 .casino-rb-box {
        padding: 0;
    }
    .casino-odds-name {
        color: var(--text-black);
        text-transform: uppercase;
        font-weight: bold;
        flex-direction: row;
        justify-content: space-between;
        background-color: #ddd;
        padding: 0 4px 0 4px;
        border-radius: 0;
        margin-right: 0;
        height: 36px !important;
        position: relative;
    }
    .casino-odds-name i {
        color: #eee;
        font-size: var(--font-body);
    }
    .casino-odds-name img {
        height: 25px;
        max-height: 25px;
        margin-left: 3px;
        width: 25px;
    }
    .casino-bl-box {
        margin-bottom: 4px;
    }
    .teenpatti20 .casino-rb-box {
        width: calc(33.33% - 3px);
        margin-right: 3px;
    }
    .teenpatti20 .casino-rb-box:last-child {
        margin-right: 0;
    }
    .teenpatti20 .casino-rb-box-player>div {
        padding: 0 2px;
    }
    .casino-bl-box-item .casino-box-odd, .casino-rb-box-player .casino-box-odd {
        font-size: var(--font-13);
    }
    .teenpatti20 .casino-rb-box-player {
        text-align: center;
        flex-wrap: wrap;
    }
    .casino-video-last-results {
        position: relative;
        top: 0;
        background-color: transparent;
        justify-content: center;
        width: 100%;
        right: 0;
        padding: 0;
        margin-top: 10px;
        height: auto;
        margin-left: 0;
    }
    .casino-video-last-results span {
        height: 35px;
        width: 35px;
        line-height: 35px;
        margin-right: 10px;
        margin-left: 0;
    }
    .race20 .casino-video-last-results span {
        background-color: transparent;
    }
    .casino-video-last-results a.result-more {
        width: 35px;
        height: 35px;
        margin-left: 0;
        line-height: 30px;
        margin-right: 0;
        margin-bottom: 0;
    }
    .header-top {
        display: none;
    }
    .sidebar-left~.main-container {
        margin-top: 0;
    }
    .header {
        top: 0;
    }
    .teenpattiopen .casino-detail .casino-box-header .casino-bl-box-item {
        height: auto !important;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
    }
    .casino-result-cards-item .winner-icon {
        height: auto;
    }
    .casino-result-cards-item img {
        width: 25px;
        margin-bottom: 5px;
    }
    .card32result .casino-result-cards-item img {
        width: 20px;
        ;
    }
    .card32result .casino-result-cards-item .winner-icon {
        height: auto;
        width: 40px;
    }
    .casino-result .bet-nation {
        width: 200px;
    }
    .casino-result .bet-rate {
        width: 70px;
    }
    .casino-result .bet-amount {
        width: 80px;
    }
    .casino-result .bet-date {
        width: 140px;
    }
    .casino-result .bet-ip {
        width: 100px;
    }
    .casino-result .bet-remark {
        width: 120px;
    }
    .player-pair .suspended:after {
        border-radius: 4px 0 0 4px;
    }
    .banker-pair .suspended:after {
        border-radius: 0 4px 4px 0;
    }
    .player .suspended:after {
        border-radius: 4px 0 0 4px;
    }
    .tie .suspended:after {
        border-radius: 50%;
    }
    .banker .suspended:after {
        border-radius: 0 4px 4px 0;
    }
    .teenpatti1day .casino-bl-box {
        width: 100%;
    }
    .teenpatti1day .casino-bl-box-item {
        width: calc(33.33% - 3px);
    }
    .teen1daycasino-container .casino-box-row {
        width: 100%;
    }
    .teenpatti1day .teen1dayother .casino-nation-name {
        width: 100%;
    }
    .teenpatti1day .teen1dayother .casino-bl-box {
        width: 16.66%;
    }
    .teen1dayodev .casino-bl-box-item {
        height: 40px;
    }
    .teenpatti1day .casino-bl-box-title .casino-bl-box-item:first-child {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    .teenpatti1day .casino-card-img img {
        height: 18px;
        margin-left: 0;
    }
    .poker1day .casino-bl-box {
        width: 100%;
    }
    .poker1dayother {
        width: 100%;
        margin-top: 0 !important;
    }
    .poker1dayother .casino-bl-box:last-child {
        line-height: 1;
        height: 16px;
        margin: 0;
        padding: 0;
    }
    .poker1day .casino-bl-box-title .casino-bl-box-item:first-child {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    .teenpattitest .casino-bl-box {
        width: 100%;
    }
    .teenpattitest .casino-bl-box-item {
        width: calc(25% - 3px);
        position: relative;
    }
    .teenpattitest .casino-bl-box-item.casino-odds-name span {
        text-align: left;
        font-size: 10px;
    }
    .login-wrapper {
        padding-bottom: 30px;
    }
    .login-wrapper .footer-menu {
        position: absolute;
    }
    .login-form {
        min-height: unset;
    }
    .modal-body {
        max-height: calc(100vh - 116px);
    }
    .cards-top .cards-top-box {
        height: 90px;
    }
    .cards-top .casino-card-item {
        min-width: 32px !important;
        margin-right: 0;
    }
    .cards-top .casino-card-item img {
        width: 30px;
    }
    .detail-page-container .banner.scorestats iframe {
        width: 95%;
    }
    .login-footer {
        height: auto;
    }
    .support+div {
        text-align: right !important;
    }
    .footer-menu ul {
        display: block;
        text-align: center;
    }
    .footer-menu ul li {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .footer-menu ul li::after {
        display: none;
    }
    .casino-container {
        min-height: unset;
    }
    .center-container .detail-page-container, .center-container .home-container, .center-container .casino-container, .center-container.casino-list-container {
        min-height: unset;
    }
    .home-container .home-casiono-icons {
        margin-top: 10px;
        padding: 10px 0 0 10px;
        background-color: var(--bg-bet);
        flex-wrap: wrap;
    }
    .home-container .home-casiono-icons h4 {
        font-size: var(--font-18);
        color: var(--text-highlight);
        width: 100%;
    }
    .home-container .home-casiono-icons .home-casino-icon-item {
        margin-right: 10px;
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    .poker1day .casino-video-cards {
        width: 165px;
        height: 60px;
    }
    .poker20 .casino-video-cards {
        width: 165px;
        height: 115px;
    }
    .poker1day .casino-video-cards span img, .poker20 .casino-video-cards span img {
        width: 25px;
    }
    .poker1day .casino-video-cards-container .dealer-name, .poker20 .casino-video-cards-container .dealer-name {
        font-size: 10px;
        line-height: 1;
        height: 12px;
    }
    .cards32a .casino-video-cards, .cards32b .casino-video-cards {
        width: 115px;
        height: 140px;
    }
    .cards32a .casino-video-cards span, .cards32b .casino-video-cards span {
        line-height: unset;
    }
    .cards32a .casino-video-cards span img, .cards32b .casino-video-cards span img {
        width: 15px;
    }
    .cards32a .casino-video-cards-container>div, .cards32b .casino-video-cards-container>div {
        margin-bottom: 0;
    }
    .cards32a .casino-video-cards-container .dealer-name, .cards32b .casino-video-cards-container .dealer-name {
        font-size: 10px;
        line-height: 10px;
        margin-bottom: 0 !important;
        justify-content: flex-start;
    }
    .cards32b .cards32bextra .casino-bl-box .casino-bl-box-item {
        width: calc(20% - 4px);
    }
    .bet-types-container {
        width: 100%;
        display: block;
    }
    .custom-control-label {
        line-height: unset;
    }
    .dt1day .teen1dayleft, .dt1day .teen1dayright, .dt20 .teen1dayleft, .dt20 .teen1dayright {
        width: 100%;
    }
    .dt1day .teen1daycenter {
        display: none;
    }
    .dt1day .casino-bl-box-title .casino-bl-box-item {
        width: calc(50% - 2px);
    }
    .dt1day .teen1dayother .casino-nation-name {
        width: 32%;
    }
    .dt1day .teen1dayother .casino-bl-box {
        width: 17%;
    }
    .dt1day .casino-video-cards, .dt20 .casino-video-cards {
        width: 70px;
        height: 40px;
    }
    .dt1day .teen1dayother {
        margin-top: 0;
    }
    .dt1day .dragonfancy, .dt1day .tigerfancy {
        width: 35%;
    }
    .dt1day .pairfancy {
        width: 28%;
    }
    .dt1day .dt1dayfancy .casino-nation-name, .dt1day .dt1dayfancy .casino-bl-box {
        width: 100%;
    }
    .dt1day .dt1dayfancy .casino-nation-name b {
        font-size: 14px;
    }
    .dt20 .dragon-box, .dt20 .tiger-box {
        width: 50%;
    }
    .dt20 .tiebox {
        left: 50%;
        height: 70px;
        width: 70px;
        top: 15px;
    }
    .dt20 .dragon-box b, .dt20 .tiger-box b {
        font-size: var(--font-small);
    }
    .dt20 .dragon-box {
        padding-right: 35px;
    }
    .dt20 .tiger-box {
        padding-left: 35px;
    }
    .dt20 .pair-box {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
    .dt20 .casino-bl-box-item {
        height: 48px;
    }
    .dt20 .casino-card-img img {
        width: 16px;
        height: auto;
    }
    .dt20 .dt20mainbet .teen1dayleft, .dt20 .dt20mainbet .teen1dayright {
        width: 100%;
    }
    .dt20 .dt20mainbet .teen1daycenter {
        display: none;
    }
    .dtl20 .casino-video-cards {
        height: 40px;
    }
    .dtl20 .casino-nation-name {
        width: 50%;
    }
    .dtl20 .casino-bl-box {
        width: calc(50% - 4px);
    }
    .dtl20 .casino-card-img img {
        margin-left: 0;
        width: 25px;
    }
    .dtl20 .casino-tabs {
        height: 36px;
        background-color: transparent;
        margin-bottom: 10px;
        justify-content: flex-start;
        border-radius: 0;
        width: 100%;
    }
    .dtl20 .casino-tabs ul {
        width: 100%;
    }
    .dtl20 .nav-tabs .nav-item {
        flex: 1 1 0;
        background-color: var(--bg-table-header);
        margin: 1px;
    }
    .dtl20 .casino-tabs .nav-tabs .nav-item .nav-link.active {
        border-bottom: 0;
    }
    .dtl20 .casino-tabs .nav-tabs {
        margin: 0;
    }
    .dtl20 .dtl20info {
        width: 50%;
    }
    .poker6player .casino-video-cards span img {
        width: 16px;
    }
    .poker6player .casino-video-cards {
        height: 35px;
        width: 120px;
    }
    .poker6result .casino-result-content-item {
        width: 100%;
    }
    .poker6result .casino-result-content-diveder {
        display: none;
    }
    .teenpatti2 .teen1dayleft, .teenpatti2 .teen1dayright {
        width: 100%;
    }
    .teenpatti2 .teen2uo .casino-nation-name, .teenpatti2 .teen2uo .casino-bl-box {
        width: 50%;
        margin-right: 0;
    }
    .teenpatti2 .teen2uo .teen1dayleft, .teenpatti2 .teen2uo .teen1dayright {
        margin-top: 0;
    }
    .aaa .casino-video-cards {
        height: 40px;
        width: 42px;
    }
    .aaa .casino-bl-box-item {
        width: calc(25% - 2px);
    }
    .aaa .casino-bl-box-item.casino-odds-name {
        width: calc(50% - 2px);
        font-size: 10px;
    }
    .dtl20-result {
        text-align: center;
    }
    .dtl20-result .casino-result-cards-item .winner-icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .casino-war .casino-tabs {
        height: 36px;
        background-color: var(--bg-table-header);
        margin-bottom: 10px;
        justify-content: flex-start;
        border-radius: 0;
        width: 100%;
    }
    .casino-war .casino-tabs .nav-tabs {
        width: 100%;
        margin: 0;
    }
    .casino-war .nav-tabs .nav-item {
        flex: 1 1 0;
    }
    .casino-war .teen1daycasino-container {
        width: 100%;
    }
    .casino-war .casino-war-container.casino-war-cards .casino-bl-box {
        width: 16.66%;
    }
    .casino-war .casino-war-container .casino-nation-name {
        width: 50%;
    }
    .casino-war .casino-war-container .casino-bl-box {
        width: 50%;
    }
    .casino-war .casino-war-container .casino-card-img img {
        width: 25px;
        margin-left: 0;
    }
    .casino-war .casino-video-cards {
        height: 40px;
        width: 40px;
    }
    /*Worli*/
    .worli .casino-video-cards {
        height: 40px;
    }
    .worli-left, .worli-right {
        width: 100%;
    }
    .worli-odd-box {
        height: 60px;
    }
    .worli-odd-box .worli-odd {
        font-size: 30px;
        height: 30px;
    }
    .worli-box-title {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .sp .worli-right .worli-odd-box, .dp .worli-right .worli-odd-box, .card56 .worli-right .worli-odd-box, .card64 .worli-right .worli-odd-box, .colordp .worli-right .worli-odd-box {
        height: 60px;
        margin-top: 10px;
    }
    .abr .worli-right {
        margin-top: 10px;
    }
    .worli-cards-block {
        width: calc(25% - 9px);
        font-size: var(--font-caption);
        padding: 10px 5px;
        margin-right: 10px !important;
    }
    .worli-cards-block:nth-child(4n) {
        margin-right: 0 !important;
    }
    .cmeter-card-box {
        border-radius: 8px;
    }
    .cmeter .teen1dayleft, .cmeter .teen1dayright {
        width: 100%;
        margin-bottom: 10px;
        padding: 2px 10px;
    }
    .cmeter-card-low, .cmeter-card-high {
        margin-top: 0;
    }
    .cmeter .casino-card-item .card-image img {
        width: 35px;
    }
    .cmeter-card-low>div, .cmeter-card-high>div {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .cmeter-card-box img {
        width: 20px;
        margin-right: 3px;
    }
    .cmeter .teen1dayleft>div:first-child, .cmeter .teen1dayright>div:first-child {
        min-height: unset;
    }
    .casino-queen .casino-video-cards {
        height: 170px;
        width: 100px;
    }
    .casino-queen .casino-video-cards-container>div {
        margin-bottom: 0;
    }
    .casino-queen .casino-video-cards-container .dealer-name {
        font-size: 10px;
        justify-content: flex-start;
        margin-bottom: 0 !important;
        line-height: 1;
        height: 12px;
    }
    .casino-queen .casino-video-cards span img {
        width: 21px;
    }
    .casino-queen .casino-nation-name, .casino-queen .casino-bl-box {
        width: 100%;
    }
    .casino-queen .casino-bl-box-item.casino-odds-name {
        width: calc(50% - 2px);
        font-size: 10px;
    }
    .casino-queen .casino-bl-box-item {
        width: calc(25% - 2px);
    }
    .five-cricket .casino-video-cards {
        height: 205px;
        width: 45px;
        top: 0;
    }
    .five-cricket .casino-video-cards span img {
        width: 20px;
    }
    .five-cricket-nation, .five-cricket-date {
        font-size: var(--font-small);
        top: 10%;
    }
    .detail-page-container.five-cricket .banner {
        height: auto;
    }
    .detail-page-container.five-cricket .banner .scorecard {
        position: relative;
        margin: 10px 0;
    }
    .threecardj-title {
        width: 100%;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        padding: 5px;
    }
    .threecardj-cards {
        width: 100%;
    }
    .threecardj-bl-box {
        height: auto;
        align-items: flex-start;
        width: 100%;
    }
    .threecardj-cards .casino-card-item .card-image img {
        height: auto;
        width: 42px;
        margin: 0 auto;
    }
    .threecardj-cards .casino-min-max {
        line-height: 12px;
        font-size: 11px;
    }
    .threecardj-cards .owl-carousel {
        width: 90%;
        margin: 0 auto;
    }
    .threecardj-cards .casino-card-item {
        margin-bottom: 0;
    }
    .threecardj-cards .casino-card-item .card-image {
        display: block;
    }
    .threecardj-cards .casino-card-item {
        border: 0;
    }
    .threecardj-cards .casino-card-item.selected {
        border: 0;
    }
    .threecardj-cards .casino-card-item img {
        border: 2px solid transparent;
    }
    .threecardj-cards .casino-card-item img.selected {
        border: 2px solid var(--bg-success);
    }
    .threecardj-cards .owl-carousel .owl-nav button.owl-next, .threecardj-cards .owl-carousel .owl-nav button.owl-prev {
        position: absolute;
        top: 0;
        height: 100%;
        font-size: 30px;
        width: 20px;
        margin: 0;
    }
    .threecardj-cards .owl-carousel .owl-nav button.owl-prev {
        left: -20px;
    }
    .threecardj-cards .owl-carousel .owl-nav button.owl-next {
        right: -20px;
    }
    .threecardj .suspended:after {
        z-index: 100;
    }
    .cricket20 .score-box {
        margin-top: 15px;
        margin-bottom: 35px;
    }
    .cricket20 .casino-remark {
        margin: 0;
    }
    .cricket20 .teen20left, .cricket20 .teen20right {
        width: 100%;
    }
    .cricket20 .ball-icon {
        top: -15px;
    }
    .cricket20 .ball-icon img {
        height: 40px;
    }
    .cricket20 .blbox {
        width: 95px;
    }
    .cricket20 .casino-video-cards {
        width: 60px;
        height: 70px;
    }
    .cricket20 .casino-video-cards-container .dealer-name {
        font-size: var(--font-small);
    }
    .race20 .casino-video-cards {
        width: 190px;
        height: 138px;
    }
    .race20 .casino-video-cards span:first-child img {
        width: 20px;
    }
    .race20 .casino-video-cards span img {
        width: 20px;
    }
    .race20 .casino-bl-box-item {
        width: calc(30.33% - 3px)
    }
    .race20 .casino-bl-box-item.casino-odds-name {
        width: calc(40.33% - 3px);
    }
    .race20 .casino-bl-box-item.casino-odds-name {
        font-weight: normal;
    }
    .race20 .casino-bl-box-title {
        height: 30px;
    }
    .race20 .casino-bl-box-title .casino-odds-name {
        height: 30px !important;
    }
    .race20 .casino-bl-box-title .casino-bl-box-item.casino-odds-name {
        background: transparent;
    }
    .race20 .casino-odds-name {
        height: 40px !important;
    }
    .race20 .casino-odds-name img {
        width: 20px;
        height: auto;
        max-height: unset;
    }
    .race20 .casino-bl-box-item>div {
        line-height: 14px;
    }
    .race20 .casino-nation-name:last-child {
        line-height: 14px;
    }
    .race20 .win-with .casino-nation-name {
        font-size: 11px;
    }
    .race20 .win-with .fa-info-circle {
        font-size: var(--font-small);
    }
    .race20 .total-points {
        margin: 0;
        justify-content: space-between;
    }
    .race20 .total-points>div {
        padding: 2px 10px;
    }
    .andar-bahar .casino-video .owl-carousel .owl-nav button.owl-next {
        left: -15px;
    }
    .andar-bahar .casino-detail .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    .andar-bahar .casino-video .owl-carousel .owl-nav button.owl-prev {
        right: -15px;
    }
    .andar-bahar .casino-detail .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }
    .andar-bahar .casino-video-cards span img {
        height: auto;
        width: 20px;
    }
    .andar-bahar .casino-video-cards {
        height: 80px;
        width: 120px;
    }
    .andar-bahar2 .teen20left, .andar-bahar2 .teen20right {
        width: 100%;
    }
    .ab-title {
        width: 20%;
    }
    .ab-title.bahar-title {
        border-left: 1px solid var(--bg-table-header);
        border-right: 0;
    }
    .ab-cards {
        width: 80%;
    }
    .andar-bahar .casino-cards>div {
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: center;
    }
    .ab-result {
        max-width: 90%;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }
    .ab-result.owl-theme .owl-nav {
        margin: 0;
    }
    .ab-result.owl-carousel .owl-nav button.owl-next, .ab-result.owl-carousel .owl-nav button.owl-prev {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100%;
        width: 30px;
        font-size: 30px;
    }
    .ab-result.owl-carousel .owl-nav button.owl-next {
        right: -20px;
    }
    .ab-result.owl-carousel .owl-nav button.owl-prev {
        left: -20px;
    }
    .ab-result .casino-result-cards-item img {
        margin-bottom: 0;
    }
    .home-modal-title h4 {
        font-size: 18px;
    }
    .home-modal .modal-content {
        max-width: 300px;
        margin: 0 auto;
    }
    .home-modal .close-home-modal {
        top: 90px;
    }
    .cricket20videobanner {
        height: 90px;
        padding: 6px;
        width: 70%;
        font-size: 16px;
    }
    .cricket20bannertitle {
        top: -15px;
        padding: 5px;
        border-radius: 10px 10px 0 0;
        font-size: 14px;
    }
    .cricket20balls {
        bottom: -15px;
    }
    .cricket20balls img {
        width: 19px;
        margin-right: 5px;
    }
    .cricket20ballpopup img {
        width: 80px;
    }
    .cricket20books {
        right: 5px;
        top: 5px;
    }
    .cricket20books>div {
        line-height: 14px;
    }
    .cricket20 .casino-timer {
        right: unset;
        left: 5px;
    }
    .cricket20 .casino-video-last-results {
        top: unset;
        right: unset;
        width: 100%;
        height: auto;
    }
    .cricket20 .casino-video-last-results span {
        background-color: transparent;
    }
    .andar-bahar2 .sa-sb-box {
        margin-bottom: 30px;
    }
    .casino-card-item {
        min-width: 35px;
    }
    .casino-card-item .card-image img {
        width: 35px;
    }
    .lottery .casino-detail .lottery-left {
        width: 100%;
        margin-top: 10px;
    }
    .lottery-bet-buttons>div {
        height: 50px;
        width: 50px;
        font-size: 10px;
    }
    .lottery-bet-buttons>div img {
        width: 40px;
    }
    .lottery .casino-detail .lottery-right {
        width: 100%;
        margin-top: 10px;
    }
    .lottery-box {
        width: 100%;
    }
    .lottery .single .lottery-box {
        width: 100%;
    }
    .lottery .single .lottery-box .lottery-card {
        width: 20%;
    }
    .lottery .lottery-place-balls {
        width: 100%;
    }
    .lottery-box .lottery-card img {
        width: 45px;
    }
    .lottery .single .lottery-place-balls img {
        width: 50px;
    }
    .lottery .double .lottery-place-balls, .lottery .tripple .lottery-place-balls {
        width: 100%;
    }
    .random-bets button {
        min-width: 40px;
        height: 40px;
        padding: 0;
        margin-right: 3px;
        border-radius: 4px;
        font-size: 16px;
    }
    .random-bets h4 {
        font-size: 16px;
    }
    .lottery .casino-video-cards {
        height: 40px;
    }
    .lottery-result-icon {
        height: 28px;
        width: 28px;
        line-height: 28px;
    }
    .fullwidthcasino-container .casino-container {
        width: 100%;
        margin: 0;
    }
    .lottery .suspended:after {
        font-size: 32px;
    }
    .lottery-rules-title-name {
        width: 30%;
    }
    .lottery-rules-cards {
        width: 70%;
    }
    .lottery-rules-cards .lottery-card img {
        width: 30px;
    }
    .animate-text {
        font-size: 14px;
        height: 42px;
    }
    /*Home New*/
    .home-new .casino-banners-list .casino-banner-item, .home-new .casino-banners-list.live-casinos .casino-banner-item, .home-new .casino-banners-list.fantasy-games .casino-banner-item {
        width: calc(50% - 4px);
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .home-new .casino-banners-list .casino-banner-item:nth-child(2n), .home-new .casino-banners-list.live-casinos .casino-banner-item:nth-child(2n), .home-new .casino-banners-list.fantasy-games .casino-banner-item:nth-child(2n) {
        margin-right: 0;
    }
    .sport-list-item {
        margin-right: 5px;
    }
    .sport-list-item:nth-child(4n) {
        margin-right: 0;
    }
    .home-new .sport-list-title {
        font-size: 16px;
        margin-top: 10px;
    }
    .home-new .footer {
        display: block;
        padding: 8px;
    }
    .home-new .navbar {
        display: none;
    }
    .home-new-header-bottom {
        justify-content: flex-end;
    }
    .home-new-header-bottom>div {
        text-align: right;
    }
    .home-new-header-bottom>div a, .home-new-header-bottom>div button {
        display: inline-block;
    }
    .home-new-header-bottom>div a {
        padding: 0 !important;
        font-size: 11px;
    }
    .home-new-header-bottom>div a i {
        margin-right: 5px !important;
    }
    .home-new-header-bottom>div button {
        margin-left: 5px !important;
    }
    .home-new-header-bottom .btn {
        min-width: unset;
        border-radius: 28px;
        height: 28px;
        line-height: 15px;
    }
    .home-new-logo {
        display: inline-block;
    }
    .home-new .upcoming-fixure {
        height: 42px;
    }
    .home-new .fixure-title::after {
        width: 42px;
        height: 42px;
        border-top: 21px solid transparent;
        border-left: 21px solid var(--bg-table-header);
        border-bottom: 21px solid transparent;
        right: -42px;
    }
    .home-new .fixure-box-container {
        height: 42px;
    }
    .home-new .carousel img {
        height: auto;
    }
    .login-mobile-menu {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1100;
        overflow: auto;
        background-color: var(--bg-sidebar);
        padding: 20px;
    }
    .login-mobile-menu a {
        color: var(--text-sidebar);
        padding: 10px;
    }
    .home-new .casino-banners-list, .all-sports-list, .top-winners-list-container {
        margin-top: 0 !important;
        padding-top: 0;
        padding-bottom: 0;
    }
    .home-new .footer .footer-link {
        margin-top: 15px;
        text-align: center;
    }
    .home-new .footer h4 {
        margin-bottom: 5px;
    }
    .home-new .footer .gt {
        margin-top: 15px;
        text-align: center;
    }
    .home-new .footer .footer-social {
        margin-top: 15px;
        text-align: center;
    }
    .home-new .footer .img-logo {
        width: 170px;
    }
    .modal-login-new .modal-body label {
        font-size: 12px;
    }
    .center-main-content .upcoming-fixure {
        width: calc(100% - 20px);
        flex: unset;
        margin: 5px auto 10px;
    }
    .fantasy-desc-container .btn {
        min-width: 100%;
    }
    .fantasy-desc-container .casino-tabs .nav-tabs .nav-link {
        font-size: 10px;
        padding: 15px 0;
    }
    .modal-body .main-rules-container {
        max-height: calc(100vh - 190px);
    }
    .casino-detail .book-green, .casino-detail .book-red, .casino-detail .book-black {
        font-size: 11px;
    }
    .threecardj-cards .casino-cards {
        justify-content: flex-start;
    }
    .race-result-box {
        width: 250px;
    }
    .race-result-box>div span {
        margin-right: 5px;
    }
    .race-result-box .result-image img {
        width: 25px;
    }
    .race-result-box .result-image.k-image {
        right: -10px;
    }
    .race-result-box .video-winner-text {
        right: 25px;
    }
    .race-result-box .casino-result-cards-item {
        right: -45px;
    }
    .ab2-result .custom-slider {
        max-width: 250px;
    }
    .ab2-result .casino-result-cards-item img {
        width: 28px !important;
        margin-bottom: 0 !important;
    }
    .dt1day .casino-bl-box-item.casino-card-img img {
        width: 25px;
    }
    .baccarat .casino-detail .book-red, .baccarat .casino-detail .book-green, .baccarat .casino-detail .book-black {
        font-size: 11px;
    }
    .dt20 .casino-bl-box-item .casino-book {
        bottom: -12px;
    }
    .cards-box .casino-card-item, .casino-cards .casino-card-item {
        margin-bottom: 0;
    }
    .dtl20 .casino-nation-name {
        font-size: 13px;
    }
    .dtl20 .casino-box-row {
        margin-bottom: 5px;
    }
    .cards32b .casino-box-row {
        margin-bottom: 0;
    }
    .cards32b .casino-bl-box-item.suspended.lock-top:before {
        background-position: center;
    }
    .poker6player .casino-col-container .w-100 {
        font-size: 11px;
        padding-left: 5px;
    }
    .threecardj-odds {
        font-size: 14px;
        line-height: 1;
        height: 16px;
    }
    .pasa-box {
        width: 50%;
    }
    .pasa .casino-bl-box-item {
        height: 50px;
    }
    .pasa-box .casino-bl-box {
        margin-bottom: -10px;
    }
    .trap .casino-video-cards {
        height: 170px;
        width: 70px;
    }
    .trap .teen1dayleft, .trap .teen1dayright {
        width: 100%;
    }
    .trap .seven-up-down-box {
        margin-bottom: 20px;
    }
    .trap .casino-video-cards-container>div {
        margin-bottom: 2px;
    }
    .trap .casino-video-cards .col-6 {
        line-height: 1;
    }
    .trap .casino-video-cards span {
        line-height: 10px;
        font-size: 10px;
    }
    .trap .casino-video-cards span img {
        width: 13px;
    }
    .teenpatti2cards .casino-video-cards {
        width: 75px;
    }
    .teenpatti2-rule-modal .casino-vieo-rules {
        position: relative;
        max-width: 100%;
        width: 100%;
        top: 0;
    }
    .teenpatti2-rule-modal .casino-vieo-rules .rules-body {
        text-align: left;
    }
    .sin-khal .casino-video .video-box-container {
        max-width: 100%;
    }
    .sin-khal .casino-video-title {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .sin-khal .casino-bl-box-item {
        width: calc(100% - 3px);
    }
    .sin-khal .casino-nation-name {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    .sin-khal .casino-bl-box-item:nth-child(odd) {
        height: 26px;
        margin-top: 10px;
    }
    .sin-khal-box img {
        height: 70px;
    }
    .sin-khal-box .casino-bl-box-item {
        width: 80px !important;
        height: 40px !important;
        margin-top: 0 !important;
    }
    .sin-khal-box .casino-bl-box-item.back {
        margin-left: -4px;
    }
    .muflis .casino-video .video-box-container {
        max-width: 100%;
    }
    .muflis .casino-detail .casino-nation-name.no-border {
        width: 100%;
    }
    .muflis .casino-bl-box-item {
        width: 100%;
    }
    .muflis .muflis-box {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .muflis .muflis-box img {
        height: 80px;
    }
    .muflis .casino-video-title .casino-name {
        font-size: 12px;
    }
    .muflis .casino-video-rid {
        font-size: 10px;
    }
    .casino-vieo-rules img {
        height: 22px;
        margin-right: 2px;
    }
    .muflis .casino-video-title {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .casino-vieo-rules img {
        height: 22px;
        margin-right: 2px;
    }
    .raceto17 .casino-video-cards {
        width: 75px;
        height: 170px;
    }
    .raceto17 .casino-video-cards-container>div {
        margin-bottom: 2px;
    }
    .raceto17 .race-total {
        font-size: 12px;
        line-height: 1;
    }
    .raceto17 .casino-video-cards span img {
        width: 20px;
    }
    .raceto17 .casino-bl-box-item.casino-odds-name {
        width: calc(50% - 2px);
        font-size: 10px;
    }
    .raceto17 .casino-bl-box-item {
        height: 40px;
    }
    .raceto17 .casino-bl-box-item {
        width: calc(25% - 2px);
    }
    .raceto17 .casino-video-title {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .raceto17 .casino-video-title .casino-name {
        font-size: 12px;
    }
    .raceto17 .casino-video-rid {
        font-size: 10px;
    }
    .raceto17 .casino-video .video-box-container {
        max-width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .ab2-result .custom-slider {
        max-width: 180px;
    }
    .baccarat .player img, .baccarat .banker img {
        height: 20px;
        width: auto;
    }
    .teenpattitest .casino-video-cards span img {
        width: 18px;
    }
    .teenpattitest .casino-video-cards {
        height: 140px;
        width: 85px;
    }
    .poker20 .casino-video-cards {
        width: 140px;
        height: 110px;
    }
    .poker1day .casino-video-cards span img {
        width: 25px;
    }
    .poker20 .casino-video-cards span img {
        width: 22px;
    }
    .poker20 .casino-bl-box-item.casino-odds-name span {
        font-size: 7.5px;
    }
    .dtl20 .casino-card-img img {
        width: 22px;
    }
    .teenpattiopen .casino-box-header .casino-bl-box-item span {
        font-size: 10px;
    }
    .casino-detail .poker1day .poker1dayother .book-red, .casino-detail .poker1day .poker1dayother .book-green, .casino-detail .poker1day .poker1dayother .book-black {
        font-size: 7.5px;
    }
    .casino-detail .pattern .poker6box .casino-nation-name .book-red, .casino-detail .pattern .poker6box .casino-nation-name .book-red .book-green, .casino-detail .pattern .poker6box .casino-nation-name .book-red .book-black {
        font-size: 9px;
    }
    .baccarat .casino-detail .book-red, .baccarat .casino-detail .book-green, .baccarat .casino-detail .book-black {
        font-size: 7px;
    }
    .andar-bahar2 .casino-detail .book-red, .andar-bahar2 .casino-detail .book-green, .andar-bahar2 .casino-detail .book-black {
        font-size: 10px;
    }
    .casino-detail .book-green, .casino-detail .book-red, .casino-detail .book-black {
        font-size: 9px;
    }
    .lucky7 .casino-detail .lucky7-extra-bets-item .casino-book.book-red, .lucky7 .casino-detail .lucky7-extra-bets-item .casino-book.book-green, .lucky7 .casino-detail .lucky7-extra-bets-item .casino-book.book-black {
        font-size: 10px;
    }
    .casino-war .casino-war-container .casino-nation-name {
        font-size: 9px;
    }
    .security-auth {
        font-size: 12px;
    }
    .aaa .casino-bl-box-item.casino-odds-name {
        font-size: 8px;
        text-align: left;
    }
    .create-account-container .mpass-text {
        width: 140px !important;
    }
    .race20 .casino-video-cards {
        width: 172px;
        height: 120px;
    }
    .race20 .casino-video-cards span img {
        width: 18px;
    }
    .casino-queen .casino-video-cards {
        height: 140px;
        width: 75px;
    }
    .casino-queen .casino-video-cards span img {
        width: 15px;
    }
    .trap .casino-video-cards {
        height: 140px;
        width: 70px;
    }
    .trap .teen1dayleft, .trap .teen1dayright {
        width: 100%;
    }
    .trap .seven-up-down-box {
        margin-bottom: 20px;
    }
    .trap .casino-video-cards-container>div {
        margin-bottom: 2px;
    }
    .trap .casino-video-cards .col-6 {
        line-height: 1;
    }
    .trap .casino-video-cards span img {
        width: 9px;
    }
    .trap .casino-video-cards span {
        font-size: 10px;
        line-height: 10px;
    }
    .raceto17 .casino-video-cards {
        width: 70px;
        height: 140px;
        top: 38px;
    }
    .raceto17 .casino-video-cards-container>div {
        margin-bottom: 2px;
    }
    .raceto17 .casino-video-cards span img {
        width: 16px;
    }
    .raceto17 .casino-video-cards-container>div {
        font-size: 12px;
        line-height: 1;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .bet-table-row {
        padding: 16px 32px;
    }
    .logo {
        display: inline-block !important;
        margin-right: 40px;
    }
    .casino-carousal img {
        height: 288px;
    }
    .casino-banners {
        padding: 6px;
    }
    .casino-banner-item {
        width: 32.66%;
        margin-right: 1%;
    }
    .slot-banner-full {
        width: 100% !important;
    }
    .casino-banner-item:nth-child(2n) {
        margin-right: 1%;
    }
    .casino-banner-item:nth-child(3n) {
        margin-right: 0 !important;
    }
    .casino-banner-item:nth-child(6n) {
        margin-right: 1%;
    }
    .casino-small-icon {
        width: 24.25%;
        margin-right: 1% !important;
    }
    .casino-small-icon:nth-child(4n) {
        margin-right: 0 !important;
    }
    .casino-small-icon:nth-child(2n) {
        margin-right: unset;
    }
    .footer {
        justify-content: space-between;
    }
    .footer-logo {
        width: 10%;
        margin-top: 10px;
    }
    .footer-box {
        width: 100%;
    }
    .footer-top {
        margin-top: 10px;
    }
    .banner {
        height: 180px;
    }
    .banner img {
        height: 180px;
    }
    .scorecard-row {
        padding: 5px 10px;
    }
    .casino-bl-box-item .casino-box-odd {
        font-size: var(--font-small);
    }
    .casino-video-cards {
        width: 172px;
        height: 135px;
    }
    .lucky7 .casino-video-cards {
        height: 70px;
        width: 70px;
    }
    .poker1day .playerabcardbox img {
        width: 20px;
    }
    .poker1day .dealer-name {
        font-size: var(--font-caption);
    }
    .teenpattiopen .casino-video-cards {
        height: 95px;
    }
    .casino-video-cards span img {
        width: 42px;
    }
    .casino-video-cards .card-close {
        height: 60px;
        width: 38px;
    }
    .baccarat .player img, .baccarat .banker img {
        height: 30px;
    }
    .l-rotate, .r-rotate {
        width: 30px;
    }
    .casino-result-cards-item .l-rotate, .casino-result-cards-item .r-rotate {
        width: 60px;
    }
    .teenpattiopen .casino-detail .casino-box-header .casino-bl-box-item img {
        height: 25px;
    }
    .header-top {
        display: none;
    }
    .header {
        top: 0;
    }
    .sidebar-left~.main-container {
        margin-top: 0;
    }
    .banner-iframe.banner-frame-show {
        top: 47px;
        height: calc(100vh - 47px);
    }
    .casino-card-item .card-image img {
        width: 45px;
        height: auto;
    }
    .poker20 .casino-bl-box-item span {
        font-size: var(--font-v-small);
    }
    .cards-top .cards-top-box {
        height: 80px;
    }
    .detail-page-container .banner.scorestats iframe {
        width: 90%;
    }
    .poker1day .casino-video-cards {
        width: 195px;
        height: 75px;
    }
    .poker20 .casino-video-cards {
        height: 145px;
        width: 195px;
    }
    .dt1day .casino-video-cards, .dt20 .casino-video-cards {
        width: 120px;
        height: 70px;
    }
    .dtl20 .casino-video-cards {
        height: 70px;
    }
    .dtl20 .casino-card-img img {
        margin-left: 2px;
        width: 20px;
    }
    .poker6player .casino-video-cards {
        width: 195px;
    }
    .aaa .casino-video-cards {
        height: 71px;
        width: 71px;
    }
    .casino-war .casino-video-cards {
        height: 70px;
        width: 70px;
    }
    .teenpattiopen .casino-open-card-box img {
        height: 35px;
        margin-right: 5px;
    }
    /*Worli*/
    .worli .casino-video-cards {
        height: 70px;
    }
    .worli-cards-block {
        width: calc(25% - 9px);
        font-size: var(--font-caption);
        padding: 10px 5px;
        margin-right: 10px !important;
    }
    .worli-cards-block:nth-child(4n) {
        margin-right: 0 !important;
    }
    .cmeter .casino-card-item .card-image img {
        width: 40px;
    }
    .cricket20 .ball-icon img {
        height: 50px;
    }
    .cricket20 .blbox {
        width: 140px;
    }
    .cricket20 .casino-video-cards {
        width: 70px;
        height: 95px;
    }
    .race20 .casino-video-cards {
        width: 230px;
        height: 165px;
    }
    .race20 .casino-video-cards span:first-child img {
        width: 35px;
    }
    .race20 .casino-video-cards span img {
        width: 20px;
    }
    .cricket20videobanner {
        font-size: 18px;
    }
    .cricket20balls {
        bottom: -15px;
    }
    .cricket20balls img {
        margin-right: 5px;
        width: 30px;
    }
    .cricket20ballpopup img {
        width: 100px;
    }
    .race20 .casino-video-last-results img {
        width: 30px;
    }
    .cricket20 .casino-video-last-results {
        width: 375px;
    }
    .cricket20 .casino-video-last-results span, .cricket20 .casino-video-last-results a {
        width: 28px;
        height: 28px;
        line-height: 28px;
    }
    .cricket20 .casino-video-last-results a.result-more {
        height: 28px;
        width: 28px;
        line-height: 21px;
    }
    .cricket20 .casino-video-last-results img {
        width: 28px;
    }
    .detail-page-container.five-cricket .banner {
        height: auto !important;
    }
    .detail-page-container.five-cricket .banner .scorecard {
        position: relative;
        margin: 10px 0;
    }
    .casino-card-item {
        min-width: 55px;
    }
    .lottery-box .lottery-card img {
        width: 40px;
    }
    .lottery .single .lottery-place-balls img {
        width: 80px;
    }
    .random-bets button {
        height: 35px;
        min-width: 30px;
    }
    .random-bets h4 {
        font-size: 16px;
    }
    .lottery-bet-buttons>div {
        height: 70px;
        width: 70px;
        font-size: 16px;
    }
    .lottery .casino-video-cards {
        height: 70px;
    }
    .fullwidthcasino-container .casino-container {
        width: 100%;
        margin: 0;
    }
    .threecardj .casino-card-item .card-image img {
        width: 40px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .casino-video .video-box-container {
        max-width: 100%;
    }
    .detail-page-container .market-6 {
        min-width: calc(100% - 6px);
    }
    .raceto17 .casino-video-cards {
        top: 45px;
        transform: unset;
    }
    .raceto17 .casino-video-title .casino-name {
        font-size: 13px;
    }
    .raceto17 .casino-video-rid {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1280px) {
    .d-none-desktop {
        display: none !important;
    }
    .race20 .total-points {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    .d-none-lg {
        display: none !important;
    }
    .race20 .total-points {
        display: flex;
    }
    .race20 .casino-video-cards {
        top: 60%;
    }
}

@media only screen and (min-width: 768px) {
    .d-none-big {
        display: none !important;
    }
    .cards32b .casino-bl-box-item.suspended.lock-top:before {
        background-position: center;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .race20 .casino-video-last-results img {
        width: 22px;
    }
    .trap .casino-video-cards {
        height: 305px;
        width: 100px;
        top: 80px;
        transform: unset;
    }
    .trap .casino-video-cards span img {
        width: 22px;
    }
    .teenpatti2cards .casino-video-cards {
        width: 120px;
        top: 80px;
        transform: unset;
    }
    .casino-vieo-rules {
        height: calc(100% - 125px);
    }
    .sin-khal .casino-video-title .casino-name {
        font-size: 14px;
    }
    .sin-khal .casino-video-rid {
        font-size: 12px;
    }
    .muflis .casino-video-title .casino-name {
        font-size: 14px;
    }
    .muflis .casino-video-rid {
        font-size: 12px;
    }
    .casino-banner-item .slot-title {
        font-size: 16px;
    }
    .raceto17 .casino-video-cards {
        width: 85px;
        height: 235px;
    }
    .raceto17 .casino-video-cards span img {
        width: 25px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .trap .casino-video-cards {
        height: 260px;
        top: 70px;
        transform: unset;
    }
    .trap .casino-video-cards span img {
        width: 20px;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1599px) {
    .trap .casino-video-cards {
        height: 285px;
        top: 70px;
        transform: unset;
    }
    .trap .casino-video-cards span img {
        width: 17px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .trap .casino-video-cards {
        height: 305px;
        width: 100px;
        top: 80px;
        transform: unset;
    }
    .trap .casino-video-cards span img {
        width: 22px;
    }
    .teenpatti2cards .casino-video-cards {
        width: 120px;
        top: 80px;
        transform: unset;
    }
}